# <center>E-Commerce

In [2]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
import warnings
warnings.filterwarnings('ignore')

In [8]:
#importing file
df=pd.read_csv(r'C:\Users\Chethan\Data analysis\E-Commerce\E-com_Data.csv')
df.head()

,CustomerID,Item Code,InvoieNo,Date of purchase,Quantity,Time,price per Unit,Price,Shipping Location,Cancelled_status,Reason of return,Sold as set
0,4355.0,15734,398177.0,29-10-2017,6.0,3:36:00 PM,321.0,1926.0,Location 1,NaN,NaN,NaN
1,4352.0,14616,394422.0,05-10-2017,2.0,2:53:00 PM,870.0,1740.0,Location 1,NaN,NaN,NaN
2,4352.0,14614,394422.0,12-10-2017,2.0,2:53:00 PM,933.0,1866.0,Location 1,NaN,NaN,NaN
3,4352.0,85014B,388633.0,22-08-2017,3.0,2:47:00 PM,623.0,1869.0,Location 1,NaN,NaN,NaN
4,4352.0,15364,394422.0,10-10-2017,2.0,2:53:00 PM,944.0,1888.0,Location 1,NaN,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541116 entries, 0 to 541115
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         404189 non-null  float64
 1   Item Code          537979 non-null  object
 2   InvoieNo           537979 non-null  float64
 3   Date of purchase   537979 non-null  object
 4   Quantity           537979 non-null  float64
 5   Time               537979 non-null  object
 6   price per Unit     537979 non-null  float64
 7   Price              537979 non-null  float64
 8   Shipping Location  537979 non-null  object
 9   Cancelled_status   8345 non-null    object
 10  Reason of return   3 non-null       object
 11  Sold as set        0 non-null       float64
dtypes: float64(6), object(6)
memory usage: 49.5+ MB

In [11]:
df.duplicated().sum()

3145

In [14]:
df.loc[df.duplicated(),:]

,CustomerID,Item Code,InvoieNo,Date of purchase,Quantity,Time,price per Unit,Price,Shipping Location,Cancelled_status,Reason of return,Sold as set
61202,4043.0,15819,403353.0,02-12-2017,1.0,2:07:00 PM,447.0,447.0,Location 36,NaN,NaN,NaN
70587,3984.0,15422,405579.0,09-12-2017,24.0,2:09:00 PM,77.0,1848.0,Location 36,NaN,NaN,NaN
84823,3828.0,14519,398139.0,31-10-2017,1.0,2:04:00 PM,85.0,85.0,Location 36,NaN,NaN,NaN
120521,3384.0,15121,380588.0,11-06-2017,1.0,11:37:00 AM,298.0,298.0,Location 36,NaN,NaN,NaN
182786,2607.0,15660,393225.0,30-09-2017,1.0,12:31:00 PM,484.0,484.0,Location 36,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
541111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df=df.drop_duplicates(ignore_index=True)

In [18]:
df.duplicated().sum()

0

In [19]:
df.shape

(537971, 12)

In [20]:
df.columns

Index(['CustomerID', 'Item Code', 'InvoieNo', 'Date of purchase', 'Quantity',
       'Time', 'price per Unit', 'Price', 'Shipping Location',
       'Cancelled_status', 'Reason of return', 'Sold as set'],
      dtype='object')

In [21]:
df=df[['CustomerID', 'InvoieNo', 'Date of purchase', 'Price']]
df.head()

   CustomerID  InvoieNo Date of purchase   Price
0      4355.0  398177.0       29-10-2017  1926.0
1      4352.0  394422.0       05-10-2017  1740.0
2      4352.0  394422.0       12-10-2017  1866.0
3      4352.0  388633.0       22-08-2017  1869.0
4      4352.0  394422.0       10-10-2017  1888.0

In [23]:
df.isnull().sum()

CustomerID          133790
InvoieNo                 1
Date of purchase         1
Price                    1
dtype: int64

In [24]:
df.isnull().sum()/len(df)*100

CustomerID          24.869370
InvoieNo             0.000186
Date of purchase     0.000186
Price                0.000186
dtype: float64

In [25]:
df=df.dropna(subset=['CustomerID'])

In [26]:
df.isnull().sum()/len(df)*100

CustomerID          0.0
InvoieNo            0.0
Date of purchase    0.0
Price               0.0
dtype: float64

In [27]:
df=df.rename(columns={'InvoieNo': 'InvoiceNo', 'Date of purchase':'Date'})

In [28]:
df.head()

   CustomerID  InvoiceNo        Date   Price
0      4355.0   398177.0  29-10-2017  1926.0
1      4352.0   394422.0  05-10-2017  1740.0
2      4352.0   394422.0  12-10-2017  1866.0
3      4352.0   388633.0  22-08-2017  1869.0
4      4352.0   394422.0  10-10-2017  1888.0

In [29]:
#converting date column into date and time 
df['Date'] = pd.to_datetime(df['Date'])

In [30]:
df.info

<bound method DataFrame.info of         CustomerID  InvoiceNo       Date   Price
0           4355.0   398177.0 2017-10-29  1926.0
1           4352.0   394422.0 2017-10-05  1740.0
2           4352.0   394422.0 2017-10-12  1866.0
3           4352.0   388633.0 2017-08-22  1869.0
4           4352.0   394422.0 2017-10-10  1888.0
...            ...        ...        ...     ...
537936        37.0   402292.0 2017-11-28   384.0
537937        37.0   402292.0 2017-11-27   398.0
537938        21.0   363890.0 2016-12-21  2464.0
537939        21.0   363890.0 2016-12-21  4068.0
537940        21.0   363890.0 2016-12-17  4940.0

[404181 rows x 4 columns]>

In [32]:
df['CustomerID'].nunique()

4349

In [34]:
df['Date'].describe()

count                           404181
mean     2017-07-15 15:28:28.388073472
min                2016-12-02 00:00:00
25%                2017-04-12 00:00:00
50%                2017-08-05 00:00:00
75%                2017-10-26 00:00:00
max                2017-12-19 00:00:00
Name: Date, dtype: object

In [35]:
#importing datetime
import datetime as dt

In [36]:
#changing last date so that itll be easier for calculations
Latest_date = dt.datetime(2017,12,20)
Latest_date

datetime.datetime(2017, 12, 20, 0, 0)

In [39]:
RFMScore = df.groupby('CustomerID').agg({'Date': lambda x: (Latest_date - x.max()).days,
                                         'InvoiceNo': lambda x: x.count(),
                                         'Price': lambda x: x.sum()})

In [41]:
RFMScore.rename(columns={'Date': 'Recency', 'InvoiceNo': 'Frequency', 'Price': 'Monetory'}, inplace=True)

In [42]:
RFMScore.head()

            Recency  Frequency  Monetory
CustomerID
2.0               4        182  553704.0
3.0              77         27  257404.0
4.0              19         72  176613.0
5.0             311         16   41976.0
6.0              37         84  151822.0

In [43]:
RFMScore.Recency.describe()

count    4349.000000
mean       93.299379
std       100.701315
min         1.000000
25%        18.000000
50%        51.000000
75%       144.000000
max       381.000000
Name: Recency, dtype: float64

In [44]:
RFMScore.Frequency.describe()

count    4349.000000
mean       92.936537
std       232.086935
min         1.000000
25%        17.000000
50%        42.000000
75%       101.000000
max      7970.000000
Name: Frequency, dtype: float64

In [45]:
RFMScore.Monetory.describe()

count    4.349000e+03
mean     2.299380e+05
std      8.572589e+05
min     -5.037200e+04
25%      3.814800e+04
50%      8.365500e+04
75%      2.056120e+05
max      3.553619e+07
Name: Monetory, dtype: float64

In [46]:
# spliting the data for quantile method
quantiles = RFMScore.quantile(q=[0.25,0.50,0.75])
quantiles = quantiles.to_dict()
quantiles

{'Recency': {0.25: 18.0, 0.5: 51.0, 0.75: 144.0},
 'Frequency': {0.25: 17.0, 0.5: 42.0, 0.75: 101.0},
 'Monetory': {0.25: 38148.0, 0.5: 83655.0, 0.75: 205612.0}}

In [47]:
def RecencyScore(x,p,d):
    if x<=d[p][0.25]:
        return 1
    elif x <=d[p][0.50]:
        return 2
    elif x <=d[p][0.75]:
        return 3
    else:
        return 4

In [48]:
def FreqMonetryScore(x,p,d):
    if x<=d[p][0.25]:
        return 4
    elif x<=d[p][0.50]:
        return 3
    elif x<=d[p][0.75]:
        return 2
    else:
        return 1

In [49]:
RFMScore.columns

Index(['Recency', 'Frequency', 'Monetory'], dtype='object')

In [50]:
RFMScore['R'] = RFMScore['Recency'].apply(RecencyScore, args=('Recency',quantiles))
RFMScore['F'] = RFMScore['Frequency'].apply(FreqMonetryScore, args=('Frequency',quantiles))
RFMScore['M'] = RFMScore['Monetory'].apply(FreqMonetryScore, args=('Monetory',quantiles))

In [51]:
RFMScore.reset_index()

      CustomerID  Recency  Frequency  Monetory  R  F  M
0            2.0        4        182  553704.0  1  1  1
1            3.0       77         27  257404.0  3  3  1
2            4.0       19         72  176613.0  2  2  2
3            5.0      311         16   41976.0  4  4  3
4            6.0       37         84  151822.0  2  2  2
...          ...      ...        ...       ... .. .. ..
4344      4368.0      278         10   20480.0  4  4  4
4345      4369.0      181          7   10774.0  4  4  4
4346      4370.0        9         13   24962.0  1  4  4
4347      4371.0        4        754  280608.0  1  1  1
4348      4372.0       44         70  262820.0  2  2  1

[4349 rows x 7 columns]

In [52]:
RFMScore['RFMvalue'] = RFMScore[['R','F','M']].sum(axis=1)
RFMScore['RFMGroup'] = RFMScore.R.map(str) + RFMScore.F.map(str) + RFMScore.M.map(str)
RFMScore.reset_index()

      CustomerID  Recency  Frequency  Monetory  R  F  M  RFMvalue RFMGroup
0            2.0        4        182  553704.0  1  1  1         3      111
1            3.0       77         27  257404.0  3  3  1         7      331
2            4.0       19         72  176613.0  2  2  2         6      222
3            5.0      311         16   41976.0  4  4  3        11      443
4            6.0       37         84  151822.0  2  2  2         6      222
...          ...      ...        ...       ... .. .. ..       ...      ...
4344      4368.0      278         10   20480.0  4  4  4        12      444
4345      4369.0      181          7   10774.0  4  4  4        12      444
4346      4370.0        9         13   24962.0  1  4  4         9      144
4347      4371.0        4        754  280608.0  1  1  1         3      111
4348      4372.0       44         70  262820.0  2  2  1         5      221

[4349 rows x 9 columns]

In [53]:
RFMScore['RFMvalue'].nunique()

10

In [54]:
Loyality_Lavel = ['Platinum','Diamond','Gold','Silver']
score_cuts = pd.qcut(RFMScore.RFMvalue, q=4, labels=Loyality_Lavel)
RFMScore['Loyality_Lavel'] = score_cuts.values
RFMScore = RFMScore.reset_index()
RFMScore

,CustomerID,Recency,Frequency,Monetory,R,F,M,RFMvalue,RFMGroup,Loyality_Lavel
0,2.0,4,182,553704.0,1,1,1,3,111,Platinum
1,3.0,77,27,257404.0,3,3,1,7,331,Diamond
2,4.0,19,72,176613.0,2,2,2,6,222,Diamond
3,5.0,311,16,41976.0,4,4,3,11,443,Silver
4,6.0,37,84,151822.0,2,2,2,6,222,Diamond
...,...,...,...,...,...,...,...,...,...,...
4344,4368.0,278,10,20480.0,4,4,4,12,444,Silver
4345,4369.0,181,7,10774.0,4,4,4,12,444,Silver
4346,4370.0,9,13,24962.0,1,4,4,9,144,Gold
4347,4371.0,4,754,280608.0,1,1,1,3,111,Platinum
4348,4372.0,44,70,262820.0,2,2,1,5,221,Platinum